*{
    margin: 0%;
    padding: 0%;
  }

.flex{
    display:flex;
    flex-wrap: wrap;

}

.headerportfolio{
    background-color: #000000
    
   
}

.body2{
  background-color: #000;
}
.logo{
    width: 50%;
    
}



.justify-around{
    justify-content: space-around;
  }

header{
    background-color: #B1B9B3;
    color: white;
    width: 100%;
    
  }

  header nav {
    width: 50%;
  }
header nav ul{
    list-style-type: none;
    width: 100%;
    font-family: Brown sugar;
}

header nav ul li a{
    color: white;
    text-decoration: none;
   font-size: 150%;
}

header nav li{
  
    margin-top:5%;
    padding-right: 5%;
}

header nav a:hover{
    color: #c3f5d1;
}

.statue-droite{
    width: 45%;
    
}

.statue-droite img{
  width: 100%;
}

.p1{
    margin-left: 5%;
    margin-top: 10%;
}

.p2{
    margin-left: 50%;
    margin-top: 15%;
text-align: left;
background: rgba(255, 255, 255, .3);

padding: 2%;
height: 100%;
border-radius: 0.5%;
border-left: 1px solid rgba(255, 255, 255, .3);
border-top: 1px solid rgba(255, 255, 255, .3);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
-moz-backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);

}


.p3{
  margin-left: 60%;
    margin-top: 20%;
text-align: left;


}





.container {
  position: absolute;
}

form {
  background: rgba(255, 255, 255, .3);
  padding: 3rem;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
  text-align: center;
  margin-left: 40%;
}

.contact {
  color: black;
  font-weight: 500;
  opacity: .7;
  font-size: 1.4rem;
  margin-bottom: 60px;
  margin-left: 40%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
  


a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

a:active {
  text-shadow: none;
}

input {
  background: transparent;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  padding: 1rem;
  width: 200px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
  color: black;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  transition: all .3s;
  margin-bottom: 2em;
}

input:hover,
input[type="email"]:focus,
input[type="password"]:focus{
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
  
}
    
input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
}

::placeholder {
  color: black;
}
.drop {
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
}

.drop-1 {
  height: 80px; width: 80px;
  top: -20px; left: -40px;
  z-index: -1;
}

.drop-2 {
  height: 80px; width: 80px;
  bottom: -30px; right: 10px;
}

.drop-3 {
  height: 100px; width: 100px;
  bottom: 120px; right: 50px;
  z-index: -1;
}

.drop-4 {
  height: 120px; width: 120px;
  top: -60px; right:60px;
}

.drop-5 {
  height: 60px; width: 60px;
  bottom: 170px; left: 90px;
  z-index: -1;
}











.p4{
 font-family: stolzl ;
 font-size: 24px;
text-align: left;
width: 45%;
margin-top: 10%;

}



.between{
    justify-content: space-between;

}

.dessus{
    position: absolute;
    z-index: 2;
    top : 10%;
    color:#fff;
    font-family: Brown sugar;
    font-size: 313%;
    width: 100%;
    
  }

h1{
   font-size: 100%;
    font-family: stolzl thin;
    color: white;
    text-align: right;
    margin-right: 5%;
    
   
}


h2{
    font-size: 100%;
    font-family: Brown sugar;
    color: white;
    text-align: right;
    margin-right: 5%;
    margin-bottom: 5%;
 
    
}

h3{
    font-size: 200%;
    font-family: Brown sugar;
    color: white;
    text-align:left ;
    margin-left: 5%;
    
}



.bulle{
  width: 40%;
}

.background-image{
  
  width: 100%;
}
.baniere{
    position: relative;
   
  }
 
.background-video {
  
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  
  button {
    padding: 20px 50px;
    font-size: 50%;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248,.5), 0px 0px 0px 0px rgba(39, 200, 255,.5);
    margin-left: 40px;
  }

  button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg,#039e3e 0%, #005c2d 50%, #008b2a 100%);
    z-index: -1;
    transition: all .5s;
  }

  button:hover::after {
    transform: rotate(150deg);
  }
  
  button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
  }

.instagram{
    margin-left: 95%;
    
}

.img{
    width: 100%;
height: 350px;
object-fit: cover;
margin-right: 10px;
justify-content: center;
}

.large45{
width: 45%;

}
.card{
    width : 40%;
    padding: 10px;
   
   
  }

h4{
  font-family: Brown sugar;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  margin-top:100px;
  color: white;
}

h5{
  font-family: Brown sugar;
  font-size: 100px;
  text-align: center;
  color:white;
  padding-top: 60px;
  justify-content: center;


}
  *,
  *::after,
  *::before{
  
  box-sizing: border-box
  
  }
  
  input[type=radio] {
    
  position: absolute;
  left:-9999px
    }
    
    
    
  .cadre-slider{ 
  width:100%;
  max-width: 600px;
  overflow: hidden;
  aspect-ratio:3/2;
  position: relative;
  border-radius: .75rem;
  margin: 4rem auto;
    
    }	
    
  

  @supports not (aspect-ratio:3/2){
      
  .slider-ar{
  
  padding-top: 66.67%;
      
  }
      
      
    }	
    
  .cadre-slide {
    
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  will-change: transform;
  transition: transform .6s;
    
  }
    
  .slide{
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;overflow:hidden;
  font-family: stolzl thin;

}
    
  .slide img{display:block;width:100%;height:100%;}
    
  .slide:nth-of-type(1){transform:translate3d(0,0,0)}
  .slide:nth-of-type(2){transform:translate3d(100%,0,0)}
  .slide:nth-of-type(3){transform:translate3d(200%,0,0)}	
  .slide:nth-of-type(4){transform:translate3d(300%,0,0)}	
  .slide:nth-of-type(5){transform:translate3d(400%,0,0)}
  .slide:nth-of-type(6){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(7){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(8){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(9){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(10){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(11){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(12){transform:translate3d(500%,0,0)}
  .slide:nth-of-type(13){transform:translate3d(500%,0,0)}
  
  .slider:nth-of-type(2):checked ~ .cadre-slide{transform:translate3d(-100%,0,0);}
  .slider:nth-of-type(3):checked ~ .cadre-slide{transform:translate3d(-200%,0,0);}
  .slider:nth-of-type(4):checked ~ .cadre-slide{transform:translate3d(-300%,0,0);}
  .slider:nth-of-type(5):checked ~ .cadre-slide{transform:translate3d(-400%,0,0);}
  .slider:nth-of-type(6):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
  .slider:nth-of-type(7):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
    .slider:nth-of-type(8):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
      .slider:nth-of-type(9):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
        .slider:nth-of-type(10):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
        .slider:nth-of-type(11):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
          .slider:nth-of-type(12):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);}
            .slider:nth-of-type(13):checked ~ .cadre-slide{transform:translate3d(-500%,0,0);
    
  }
    
  
    
  
    
  .figcaption{
    
  position:absolute;
  trsor: pointer;
  margin: 0 .5rem 0;
    
  }
    
  .miniatures img{
    
  background-color: #fafafa;
  object-fit: cover;
  display:block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 2px solid white	
    }
    
  @supports not (aspect-ratio:1)	{
      
  .miniatures {height:30px}	
      
    }
    
  .miniatures:hover {
    transform: scale(1);
   
  }ransition: transform .4s .4s;
  will-change: transform;
  transform:translate3d(0,-100%,0);
  background-color:rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white
    
    }
    
  .slider:nth-of-type(1):checked ~ .cadre-slide .slide:nth-of-type(1) .figcaption,
  .slider:nth-of-type(2):checked ~ .cadre-slide .slide:nth-of-type(2) .figcaption,	
  .slider:nth-of-type(3):checked ~ .cadre-slide .slide:nth-of-type(3) .figcaption,	
  .slider:nth-of-type(4):checked ~ .cadre-slide .slide:nth-of-type(4) .figcaption,
  .slider:nth-of-type(5):checked ~ .cadre-slide .slide:nth-of-type(5) .figcaption,
  .slider:nth-of-type(6):checked ~ .cadre-slide .slide:nth-of-type(6) .figcaption,
  .slider:nth-of-type(7):checked ~ .cadre-slide .slide:nth-of-type(7) .figcaption,
    .slider:nth-of-type(8):checked ~ .cadre-slide .slide:nth-of-type(8) .figcaption,
      .slider:nth-of-type(9):checked ~ .cadre-slide .slide:nth-of-type(9) .figcaption,
        .slider:nth-of-type(10):checked ~ .cadre-slide .slide:nth-of-type(10) .figcaption,
    .slider:nth-of-type(11):checked ~ .cadre-slide .slide:nth-of-type(11) .figcaption,
    .slider:nth-of-type(12):checked ~ .cadre-slide .slide:nth-of-type(12) .figcaption,
        .slider:nth-of-type(13):checked ~ .cadre-slide .slide:nth-of-type(13) .figcaption{
    
  transform: translate3d(0,0%,0)
    
    }
    
    
    .slider:nth-of-type(1):checked ~  .cadre-miniatures label:nth-of-type(1),
    .slider:nth-of-type(2):checked ~  .cadre-miniatures label:nth-of-type(2),
    .slider:nth-of-type(3):checked ~  .cadre-miniatures label:nth-of-type(3),
    .slider:nth-of-type(4):checked ~  .cadre-miniatures label:nth-of-type(4),
    .slider:nth-of-type(5):checked ~  .cadre-miniatures label:nth-of-type(5),
    .slider:nth-of-type(6):checked ~  .cadre-miniatures label:nth-of-type(6),
    .slider:nth-of-type(7):checked ~  .cadre-miniatures label:nth-of-type(7),
    .slider:nth-of-type(8):checked ~  .cadre-miniatures label:nth-of-type(8),
    .slider:nth-of-type(9):checked ~  .cadre-miniatures label:nth-of-type(9),
    .slider:nth-of-type(10):checked ~  .cadre-miniatures label:nth-of-type(10),
    .slider:nth-of-type(11):checked ~  .cadre-miniatures label:nth-of-type(11),
    .slider:nth-of-type(12):checked ~  .cadre-miniatures label:nth-of-type(12),
    .slider:nth-of-type(13):checked ~  .cadre-miniatures label:nth-of-type(13)
    
    {
      
      
    box-shadow: 0 0 0 3px #000;
    transform: scale(1);
    
    }
  
  
    
    
  .cadre-miniatures {
    
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 0; 
  right: 0;
   
  }
    
  .miniatures {
    
  transition: transform .25s;
  transform: scale(.9);
  aspect-ratio: 1;
  width: 60px;
  border-radius: 9999px;
  z-index: 2;
  }
  
  body{
    background-color: #000;
  }
  .body{
    background-color: #B1B9B3;
  }

  

  @font-face {
    font-family: 'brown_sugarregular';
    src: url('font/brown_sugar_-webfont.woff2') format('woff2'),
         url('font/brown_sugar_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  scroll-behavior: smooth;
}
.agauche{
  justify-content: left;
}

.description{
  font-family: stolzt thin;

}

.footer{
  background-color: #000;
}

.bouton-retour{
  text-align: right;
  font-size: 125%;
  font-family: Brown sugar;
  text-decoration: none;
  color: white;
  justify-content: right;
  margin-left: 85%;
  margin-bottom: 100px;
}

.numero{
  text-decoration: none;
  color: white;

}

.taille-div-45{
  width: 45%;
}
